header{
    background-color: #97F813;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 100px;
}

.cabecalho-lista-item{
    display: inline-block;
    
}